@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

* {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  font-family: 'Cutive Mono', monospace;
}

html {
  background:white;
}

@media (min-width: 450px ) and (max-width:850px) {
  body {
    overflow-y: hidden;
    display:flex;
    flex-wrap: wrap;
  }
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(98, 98, 96, 1);
}

::-webkit-scrollbar-thumb {
  background:rgb(66, 135, 245);
  border-radius:30px;

}

header {
  padding: 100px 80px 0px 0px;
  width: 25%;
  display:flex;
  flex-wrap: wrap;
  float: right;
}

@media (min-width: 360px ) and (max-width:850px) {
  header {
    padding-bottom: 20px;
    width:45%;
    display:grid;
    align-items: center;
    justify-items:center;
  }
}

.headerbuttons {
  text-decoration: none;
  color:black;
  font-size: 25px;
}

.headerbuttons:hover {
  color:rgb(66, 135, 245);
  transition: 0.5s;
  cursor: pointer;
}

.kntur {
  width: 250px;
  height: 100px;
  text-decoration: none;
  color:black;
  font-size: 35px;
  padding:40px 0px 40px 110px;
}

@media (min-width: 360px ) and (max-width:850px) {
  .kntur {
    display:flex;
    flex-wrap: wrap;
    padding-left: 80px;
  }
}

.preloader {
  margin-top: 230px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  animation:loading;
  animation-duration: 4.5s;
}

@media (min-width: 360px) and (max-width:850px) {
  .preloader {
    width:200px;
    height: 200px;
  margin-top: 230px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  animation:loading;
  animation-duration: 4.5s;
}}

@keyframes loading {
  from {background-color: white;}
  to {opacity:0}
}

@keyframes afterpreloadtransition
{
  from {opacity:0}
  to {opacity :1}
}

.afterpreload {
  animation:afterpreloadtransition;
  animation-duration:1.5s;
}

.divstyleone {
  width: 50%;
}

.closeButton {
  position: sticky;
  float:right;
  height:35px;
  cursor: pointer;
  opacity:0.7;
}

.closeButton:hover {
  opacity:1;
  transition: ease 0.5s;

}

.bodyimages{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;

}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.section {
  justify-content: center;
  align-items: center;
  display:flex;
  flex-wrap: wrap;
  position: relative;
  width: 475px;
  height: 475px;
}

.picturediv {
  margin: 1px;
  padding:0px;
  width: 475px;
  height: 475px;
}

.picturediv:hover .section {
  cursor: pointer;
  filter: brightness(0.5);
  transition: 1s;
}

.picturediv:hover .picturetext {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  width: 475px;
  height: 340px;
   transition: opacity .2s, visibility .2s;
}

.picturetext {
  transform: translate(-0%, -100%);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center; 
  color: white;
  font-size: 3rem;
  position: absolute;
}

.footer {
  background:White;
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 100%;
}


.footer ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 40px 0px 50px 0px ;
}

.emaillogo {
   width: 80px;
  background: transparent;
  cursor: pointer !important;
}
.emaillogo:hover {
  transform: scale(1.10);
  transition: all .5s ease-in-out;
}


.logo {
  width: 90px;
  background: transparent;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.10);
  transition: all .5s ease-in-out;
}

.vimeologo {
  width: 140px;
  background: transparent;
  user-select: none;
}

.vimeologo:hover {
  transform: scale(1.10);
  transition: all .5s ease-in-out;
}

.swiper-container {
  justify-content: center;
   display: flex;
   flex-wrap: wrap;
    width: 1000px;
    height: 600px;
    border-radius: 10px;

}

.imageone {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 600px;
  border-radius: 10px;

}

.popup {
  font-style: italic;
  font-size: 20px;
  padding-left: 41%;
  position: absolute;
}