@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

* {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  font-family: 'Cutive Mono', monospace;
}

html {
  background:white;
  overflow-x:hidden;
}

::-webkit-scrollbar {
  width:0px;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;

}

header {
  padding: 100px 75px 0px 0px;
  width: 15%;
  display:flex;
  flex-wrap: wrap;
  float: right;
}

.headerbuttons {
  font-weight: bold;
  text-decoration: none;
  color:black;
  font-size: 18px;
  user-select: none;
}

.headerbuttons:hover {
  color:rgb(66, 135, 245);
  transition: 0.5s;
  cursor: pointer;
}

.kntur {
  width: 240px;
  height: 90px;
  text-decoration: none;
  color:black;
  padding:30px 0px 30px 80px;
  user-select: none;
}

.divstyleone {
  width: 50%;
}

.closeButton {
  position: sticky;
  float:right;
  height:35px;
  cursor: pointer;
  opacity:0.7;
}

.closeButton:hover {
  opacity:1;
  transition: ease 0.5s;

}

.bodyimages{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;

}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Body--open {
}


.section {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display:flex;
  flex-wrap: wrap;
  position: relative;
  width: 420px;
  height: 420px;
  z-index: -1;
}

.picturediv {
  cursor: pointer;
  margin: 10px;
  padding:0px;
  width: 420px;
  height: 420px;
  overflow-y: hidden;
}

.picturediv:hover .section {
  cursor: pointer;
  filter: brightness(0.5);
  transition: 1s;
}

.picturediv:hover .picturetext {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  width: 420px;
  height: 320px;
   transition: opacity .2s, visibility .2s;
}

.picturetext {
  transform: translate(-0%, -100%);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center; 
  color: white;
  font-size: 3rem;
  position: absolute;
}

.swiper-container {
  justify-content: center;
   display: flex;
   flex-wrap: wrap;
    width: 1000px;
    height: 600px;
    border-radius: 10px;

}

.imageone {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 600px;
  border-radius: 10px;

}

   .active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.modal {
  overflow-y: scroll;
  animation: FadeIn ease 0.5s;
}

.overlay {
    background: rgba(49, 49, 49, 0.842);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    width:85vw;
    height: 85vh;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

